<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 帶你學到會的線上課程 | 六角學院</title>
    <link rel="icon" href="https://www.hexschool.com/favicon.ico">
    <meta property="og:title" content=" 帶你學到會的線上課程  | 六角學院">
    <meta property="og:description" content=" 打破影音課程售後不理，我們在線上等著你。 ">
    <meta property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/hexschool-api.appspot.com/o/web%2Forder%2Fhtml_new.png?alt=media&amp;token=5374874e-0efe-491f-be41-8c5b8ef75730">
    <meta property="fb:app_id" content="760173380749493">
    <meta property="og:site_name" content="六角學院">
    <meta property="og:locale" content="zh_TW">
    <link rel="alternative" href="https://www.hexschool.com/atom.xml" title="六角學院" type="application/atom+xml">
    <meta content=" 打破影音課程售後不理，我們在線上等著你。 " name="description">
    <meta content="線上課程, 網頁設計, 前端, HTML, CSS, jQuery, javascript" name="keywords">
    <link rel="stylesheet" href="./css/all.css">
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="topmanu">
          <ul>
            <li><a href="#">粉絲團</a></li>
            <li><a href="#">關於我們</a></li>
          </ul>
        </div>
        <div class="navber">
          <a href="#">
            <h1 class="logo">六角學院</h1>
          </a>
          <ul class="manu">
            <li><a href="#">首頁</a></li>
            <li><a href="#">產品</a></li>
            <li><a href="#">關於我們</a></li>
          </ul>
        </div>
      </nav>
      <header>

      </header>
      <section></section>
      <footer class="footer">
        <a href="#">
          <div class="footer-logo">六角學院</div>
        </a>
        <ul>
          <li>聯絡我們：
            <a href="mailto:hexschool@gmail.com" class="footer-a">hexschool@gmail.com</a>
          </li>
          <li>
            電話：
            <a href="tel:+88699123456" class="footer-a">0999123456</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>

</html>